<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <appSettings>
    <add key="dbconn" value="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\student\Documents\attributebasedencryption.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"/>
  </appSettings>
</configuration>
